<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-12 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center"><b><%=@category.title%></h5>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">  
 <li class="breadcrumb-item"> <%= link_to 'Home',categories_path%></li>
 <li class="breadcrumb-item active" aria-current="page"> <%= link_to 'Category', categories_path%></li>
  </ol>
</nav>
<%= link_to 'Add a New Task', new_category_task_path, class:"btn btn-primary mb-3"%>
 <% if @tasks.count == 0 %>
  <div>
        <small>No entries found.Add a Task!</small>
        </div>
  <%else%>
<%= render 'todaytable', task: @task %>
<%= render 'pendingtable', task: @task %>
<%end%>
        </div>
        </div>
      </div>
  </div>
  </div>

  





