<%= simple_form_for @category do |f| %>
   <% if category.errors.any? %>
   <% category.errors.each do |error| %>
   <div class = 'container mt-2'>
<div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
  <%= error.full_message %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</div>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center"><b>Create Category</b></h5>
              <div class="form-label-group">
  <div class="form-group">
  <%= f.input :title,  label:false, class: 'w-100 mb-2 rounded' ,placeholder:"title" %>
  </div>
 <div class="actions">
 <%= f.button :submit,class:"btn btn-sm btn-primary btn-block text-uppercase" %>
  </div>
 <%=link_to 'back to Home',:back%>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

